body{
    margin: 20px;
}
.pdfask_body{
    position: relative;
    min-width: 1220px;
    max-width: 1280px;
}
#pdfreader{
    max-width: 800px;
    .top_line{
        position: relative;
        .uploadinput{
            &.loaded{
                margin-right: 200px;
            }
        }

        .loading_button{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .inside_carousel{
        background-color: #555;
        padding-top: 20px;
        .pdf_page_number{
            text-align: center;
            color: #eee;
        }
        canvas{
            left: 50%;
            transform: translate(-50%, 0);
            position: relative;
            min-width: "595px";
        }
    }
}

#bottomLine{
    margin-bottom: 1px;
    height: 1px;
}
#chat_talk{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 380px;

    textarea{
        resize: none;
        height: 120px;
    }

    .ask_button{
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 80px;
    }

    // .answer_block{
    //     height: 650px;
    // }
}