body {
  margin: 20px; }

.pdfask_body {
  position: relative;
  min-width: 1200px; }

#pdfreader {
  max-width: 800px; }
  #pdfreader .top_line {
    position: relative; }
    #pdfreader .top_line .uploadinput.loaded {
      margin-right: 200px; }
    #pdfreader .top_line .loading_button {
      position: absolute;
      right: 0;
      bottom: 0; }
  #pdfreader .inside_carousel {
    background-color: #555;
    padding-top: 20px; }
    #pdfreader .inside_carousel .pdf_page_number {
      text-align: center;
      color: #eee; }
    #pdfreader .inside_carousel canvas {
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      position: relative;
      min-width: "595px"; }

#chat_talk {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 380px; }
  #chat_talk textarea {
    resize: none;
    height: 120px; }
  #chat_talk .ask_button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px; }
